h1{
    color: yellow;
}
section p{
    color: blue;}
    #color{
        color: rgb(226, 43, 202);
    }
    .subrayado{
        text-decoration: underline;
    }
    .fondo{
        color: aqua;
    }