@mixin center-vertically() {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Establece el contenedor como una caja flexible con dirección vertical y centra verticalmente su contenido */
@mixin align-and-justify($align:center, $justify:center) {
    display: flex;
    flex-direction: column;
    align-items: $align;
    justify-content: $justify;
}
/* Define un mixin para establecer las propiedades 'align-items' y 'justify-content' en un contenedor flexible con argumentos opcionales */