
$hero-image: "https://www.catamarcactual.com.ar/u/fotografias/fotosnoticias/2024/2/16/284699.jpg";
$hero-nosotros-imagen: "https://media.traveler.es/photos/635bfa3089708c1dafda9fa3/16:9/w_2560%2Cc_limit/2AMRHB9.jpg";

$shadow-color: rgba(0, 0, 0, 0.2); // Color negro con opacidad del 20%
$shadow-offset-x: 0px; // Desplazamiento horizontal
$shadow-offset-y: 2px; // Desplazamiento vertical
$shadow-blur: 4px; // Difuminado
$shadow-spread: 2px; 
