.header {
    width: 100%;
    position: fixed;
    padding: 1rem;
    background-color:  map-get($map: $colors, $key: light);

    z-index: 100;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .logoContenedor {
            display: flex;
            .logoTitulo {
                font-size: 18px;
                user-select: none;
            }
        }
        .navbarContenedor {
            .navLista {
                display: flex;
                gap: 1rem;
                li {
                    a {
                        color:  map-get($map: $colors, $key: dark);
                        &:hover {
                            color: map-get($map: $colors, $key: primary);
                        }
                    } 
                }
            }
        }
    }
   
}