.contactosContenedor {
    @extend .contactoContenedor;
    clip-path: none;
    height: auto;
    .contact-items {
        z-index: 10;
        flex-direction: column;

        .cards {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 100%;
            
            .card {
                height: fit-content;
                
                backdrop-filter: blur(20px); /* Aplicar un desenfoque de 5px al fondo al hacer hover */
                .icon {
                    width: fit-content;
                    img {
                        width: 4rem;
                    }
                }
                .content {
                    display: flex;
                    align-items: center;
                    p {
                        font-size: 18px;
                        color: map-get($map: $colors, $key: light);
                    }
                }
            }
        }
    }
}